.card{
    
    margin-top: "15px";
    margin-bottom: 10px;
    border: "solaid 100px";
    
}

#button{
   justify-content: left;
}

.nav{
    /* text-align: center; */
    justify-content: center;
}
.dash_Img{
    margin-top: 5px;
    width: 4rem;
    height: 3rem;
    margin-left: 100px;

}
#contain{
    background-color: skyblue;
}
#offcanvasNavbar{
    margin-top: 70px;
    margin-block-end: 30px;
    background-color: rgb(80, 233, 207);
    border-radius: 7px ;
}
.cardds{
    border-radius: 5px;
    margin-bottom: 3px;
    border: black  10px;
    
    
}
#cardTobic{
    text-align: center;
}
body{
    background-color: rgb(253, 251, 249);
}
.hello{
    width: 7px !important;
    height: 5px !important;
    justify-content: left;
}
#offcanvasNavbarheat{
    width: 10px !important;
    height: 5px !important;
}
#dropdown-basic-button{
    background-color: rgb(229, 238, 240);
    color: black;
}